* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.aboutme{
    padding: 15px;
    background-color: rgb(17, 17, 17);
    text-align: center;
}
.background{
    background-color: rgb(24, 24, 24);
}
.imgholder{
    text-align: center;
}
.me {
    height: 200px;
    clip-path: circle();
}
.socials {
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.textdiv{
    padding-top: 1em;
    margin: 0.5em;
    text-align: center;
}
.centertext{
    text-align: center;
}
.centertext{
    text-align: left;
}
.textwhite {
    color: rgb(210, 210, 210);
    font-family:Arial, Helvetica, sans-serif
}
.textgray {
    color: rgb(180, 180, 180);
    font-family:Arial, Helvetica, sans-serif
}
.vertical{
    display: flex;
    flex-direction: column;
}
.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper{
    align-items: center; 
    justify-content: space-evenly; 
    display: flex;
}
.portfolio {
    padding-top: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1750px;
    flex-wrap: wrap;
    gap: 1em;
}